.DS_Store
Thumbs.db
*.bak
*.swp
*.swo
*.o
*.out
*.class
*.log
*.tmp
*.temp
.bash_history
.bash_logout
.bash_profile
.bashrc
.profile
.viminfo
.zsh_history
.zshrc
.cache/
.local/
.bash_exports
.bash_aliases
.nodejs/versions
